<!-- login.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Iniciar Sesión</title>
    <link rel="icon" type="image/png" href="/img/logo.png">
    <!-- Agrega tus hojas de estilo aquí -->
</head>
<body>
    <!-- Tu contenido HTML aquí -->
</body>
</html>
